**List Functions:**
1. append(): Adds an element to the end of the list.
2. insert(): Inserts an element at a specified index in the list.
3. extend(): Appends elements from another iterable (list, tuple, etc.) to the end of the list.
4. remove(): Removes the first occurrence of a specified value from the list.
5. pop(): Removes and returns an element from a specified index (or the last element if no
index is provided).
6. index(): Returns the index of the first occurrence of a specified value in the list.
7. count(): Returns the number of occurrences of a specified value in the list.
8. sort(): Sorts the elements of the list in ascending order.
9. reverse(): Reverses the order of elements in the list.
10. copy(): Creates a shallow copy of the list.
11. clear(): Removes all elements from the list.
12. len(): Returns the number of elements in the list.
13. max(): Returns the maximum value from the list (works for numerical or alphabetical values).
14. min(): Returns the minimum value from the list (works for numerical or alphabetical values).
15. sum(): Returns the sum of all numerical elements in the list (if applicable).
16. join(): Joins elements of a list into a single string using a specified delimiter.
17. split(): Splits a string into a list of substrings based on a specified delimiter.

1. What function can you use to find the length of a list?

In [1]:
my_list = [10, 20, 30, 40, 50]
length = len(my_list)
print(f"The list: {my_list}")
print(f"The length of the list is: {length}")

The list: [10, 20, 30, 40, 50]
The length of the list is: 5

2. How can you add an element to the end of a list using a function?

In [2]:
my_list = [10, 20, 30]
my_list.append(40)
print(f"Updated list: {my_list}")

Updated list: [10, 20, 30, 40]

3. Describe the purpose of the list.append() function. Provide an example.

In [3]:
my_list = [1, 2, 3]
print(f"Original list: {my_list}")
my_list.append(4)
print(f"List after append(4): {my_list}")

another_list = ['apple', 'banana']
another_list.append('cherry')
print(f"Another list after append('cherry'): {another_list}")

Original list: [1, 2, 3]
List after append(4): [1, 2, 3, 4]
Another list after append('cherry'): ['apple', 'banana', 'cherry']

4. What is the outcome of using the list.remove() function on a list containing duplicate elements?

In [4]:
my_list = [1, 2, 3, 2, 4, 2]
print(f"Original list: {my_list}")

my_list.remove(2)
print(f"List after removing the first '2': {my_list}")

my_list.remove(2)
print(f"List after removing another '2': {my_list}")

Original list: [1, 2, 3, 2, 4, 2]
List after removing the first '2': [1, 3, 2, 4, 2]
List after removing another '2': [1, 3, 4, 2]

5. Explain the purpose of the list.insert() function. Provide an example.

In [5]:
my_list = ['apple', 'banana', 'grape']
print(f"Original list: {my_list}")

# Insert 'orange' at index 1
my_list.insert(1, 'orange')
print(f"List after inserting 'orange' at index 1: {my_list}")

# Insert 'kiwi' at the end (equivalent to append if index is len(list))
my_list.insert(len(my_list), 'kiwi')
print(f"List after inserting 'kiwi' at the end: {my_list}")

Original list: ['apple', 'banana', 'grape']
List after inserting 'orange' at index 1: ['apple', 'orange', 'banana', 'grape']
List after inserting 'kiwi' at the end: ['apple', 'orange', 'banana', 'grape', 'kiwi']

6. What function can you use to count the occurrences of a specific element in a list?

In [6]:
my_list = [1, 2, 2, 3, 4, 2, 5]
print(f"Original list: {my_list}")

# Count occurrences of '2'
count_of_2 = my_list.count(2)
print(f"The number '2' appears {count_of_2} times in the list.")

# Count occurrences of '3'
count_of_3 = my_list.count(3)
print(f"The number '3' appears {count_of_3} time in the list.")

# Count occurrences of an element not in the list (e.g., '9')
count_of_9 = my_list.count(9)
print(f"The number '9' appears {count_of_9} times in the list.")

Original list: [1, 2, 2, 3, 4, 2, 5]
The number '2' appears 3 times in the list.
The number '3' appears 1 time in the list.
The number '9' appears 0 times in the list.

7. How can you reverse the order of elements in a list using a function?

In [7]:
my_list = [10, 20, 30, 40, 50]
print(f"Original list: {my_list}")

my_list.reverse()
print(f"List after reverse(): {my_list}")

alphabetic_list = ['apple', 'banana', 'cherry']
print(f"Original alphabetical list: {alphabetic_list}")

alphabetic_list.reverse()
print(f"Alphabetical list after reverse(): {alphabetic_list}")

Original list: [10, 20, 30, 40, 50]
List after reverse(): [50, 40, 30, 20, 10]
Original alphabetical list: ['apple', 'banana', 'cherry']
Alphabetical list after reverse(): ['cherry', 'banana', 'apple']

8. Describe the behavior of the list.sort() function. Provide an example.

In [8]:
my_numbers = [5, 2, 8, 1, 9]
print(f"Original numbers list: {my_numbers}")

my_numbers.sort()
print(f"Numbers list after sort(): {my_numbers}")

my_words = ['banana', 'apple', 'date', 'cherry']
print(f"Original words list: {my_words}")

my_words.sort()
print(f"Words list after sort(): {my_words}")

my_numbers_desc = [50, 10, 40, 20, 30]
print(f"Original numbers list for descending sort: {my_numbers_desc}")

my_numbers_desc.sort(reverse=True)
print(f"Numbers list after sort(reverse=True): {my_numbers_desc}")

Original numbers list: [5, 2, 8, 1, 9]
Numbers list after sort(): [1, 2, 5, 8, 9]
Original words list: ['banana', 'apple', 'date', 'cherry']
Words list after sort(): ['apple', 'banana', 'cherry', 'date']
Original numbers list for descending sort: [50, 10, 40, 20, 30]
Numbers list after sort(reverse=True): [50, 40, 30, 20, 10]

9. Explain the purpose of the list.extend() function. Provide an example.

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5]
print(f"Original list1: {list1}")
print(f"List2 to extend with: {list2}")

list1.extend(list2)
print(f"List1 after extend(list2): {list1}")

list3 = ['a', 'b']
list1.extend(list3)
print(f"List1 after extending with another list (list3): {list1}")

my_string = "hello"
list1.extend(my_string)
print(f"List1 after extending with a string: {list1}")

Original list1: [1, 2, 3]
List2 to extend with: [4, 5]
List1 after extend(list2): [1, 2, 3, 4, 5]
List1 after extending with another list (list3): [1, 2, 3, 4, 5, 'a', 'b']
List1 after extending with a string: [1, 2, 3, 4, 5, 'a', 'b', 'h', 'e', 'l', 'l', 'o']

10. How can you find the maximum and minimum values in a list using functions? Provide an example for each.

In [10]:
my_numbers = [10, 5, 20, 15, 30, 25]
print(f"Original numbers list: {my_numbers}")

# Find the maximum value
max_value = max(my_numbers)
print(f"Maximum value: {max_value}")

# Find the minimum value
min_value = min(my_numbers)
print(f"Minimum value: {min_value}")

my_words = ['apple', 'banana', 'zebra', 'cat']
print(f"\nOriginal words list: {my_words}")

# Find the maximum value (lexicographically)
max_word = max(my_words)
print(f"Maximum word: {max_word}")

# Find the minimum value (lexicographically)
min_word = min(my_words)
print(f"Minimum word: {min_word}")

Original numbers list: [10, 5, 20, 15, 30, 25]
Maximum value: 30
Minimum value: 5

Original words list: ['apple', 'banana', 'zebra', 'cat']
Maximum word: zebra
Minimum word: apple

11. Describe the purpose of the list.pop() function. Provide an example.

In [15]:
# Create a list
my_list = ['apple', 'banana', 'cherry', 'date']
print("Original list:", my_list)

# pop() without index removes the LAST element
item1 = my_list.pop()
print("Popped item (last):", item1)
print("List after pop():", my_list)

# pop(index) removes the element at the given index (here, index 1)
item2 = my_list.pop(1)
print("Popped item (index 1):", item2)
print("List after pop(1):", my_list)

# Trying to pop from an empty list will raise an error
try:
    empty_list = []
    empty_list.pop()
except IndexError as e:
    print("\nError when popping from empty list:", e)

Original list: ['apple', 'banana', 'cherry', 'date']
Popped item (last): date
List after pop(): ['apple', 'banana', 'cherry']
Popped item (index 1): banana
List after pop(1): ['apple', 'cherry']

Error when popping from empty list: pop from empty list

12. Give difference between count and index.

![Screenshot 2025-11-22 222652.png]()

In [13]:
# List for example
numbers = [10, 20, 20, 30, 40, 20]

# Using count()
count_20 = numbers.count(20)
print("Count of 20:", count_20)

# Using index()
index_20 = numbers.index(20)
print("Index of first 20:", index_20)

# What happens if value not found
not_found_count = numbers.count(50)
print("Count of 50:", not_found_count)

# This will give an error if value not found
# Uncomment to see the error
# numbers.index(50)

Count of 20: 3
Index of first 20: 1
Count of 50: 0