<a href="https://colab.research.google.com/github/imanshu-01/AI-BIA-MIDC-SDC/blob/main/Assignment__no_11_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For-Loop

1. Print prime numbers from 1 to 20 using a for loop.

In [6]:
for num in range(1, 21):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19

2. Calculate the sum of numbers from 1 to 50 using a for loop.

In [82]:
total_sum = 0
for num in range(1, 51):
    total_sum += num
print("The sum of numbers from 1 to 50 is:",total_sum)

The sum of numbers from 1 to 50 is: 1275

3. Print the square of numbers from 1 to 15 using a for loop

In [12]:
for num in range(1, 16):
    print("The square of numbers: ",num * num)

The square of numbers:  1
The square of numbers:  4
The square of numbers:  9
The square of numbers:  16
The square of numbers:  25
The square of numbers:  36
The square of numbers:  49
The square of numbers:  64
The square of numbers:  81
The square of numbers:  100
The square of numbers:  121
The square of numbers:  144
The square of numbers:  169
The square of numbers:  196
The square of numbers:  225

4. Create a countdown timer that starts from 10 and counts down to 0 using a for loop.

In [13]:
import time

for i in range(10, -1, -1):
    print(i)
    time.sleep(1) # Pause for 1 second

10
9
8
7
6
5
4
3
2
1
0

5. Generate the Fibonacci sequence up to the 10th term using a for loop.

In [14]:
a, b = 0, 1
print("Fibonacci sequence:")
for _ in range(10):
    print(a)
    a, b = b, a + b

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

6. Print a multiplication table for a given number up to 10 using a nested for loop.

In [18]:
given_number =10  # You can change this number

print("Multiplication Tablfe for:",given_number)
for i in range(1, 11):
    result = given_number * i
    print(f"{given_number} x {i} = {result}")

Multiplication Tablfe for: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

7. Create a program that finds the factorial of a number using a for loop.

In [31]:
num = eval(input ("Enter a Number:"))  # You can change this number
factorial = 1
for i in range(num,1,-1):
        factorial = factorial * i
print("The factorial of is", factorial)

Enter a Number:6
The factorial of is 720

8. Write a program that prints a pattern of stars in the shape of a right-angled triangle using a for loop.

In [23]:
rows = 5  # You can change the number of rows

for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

9. Create a program that checks whether a given number is prime or not using a for loop.

In [45]:
num = eval(input("Enter a Number:")) # You can change this number

if num > 1:
    for i in range(2, int(num**0.5) + 1):
        if (num % i) == 0:
            print(num, "is not a prime numberüê•")
            break
    else:
        print(num ,"is a prime numberüòï")

Enter a Number:10
10 is not a prime numberüê•

10. Build a program that calculates the sum of digits of a given number using a for loop.

In [48]:
# Program to calculate sum of digits of a number
num = input("Enter a number: ")
sum_digits = 0

for digit in num:
    sum_digits += int(digit)

    print("Sum of digits:", sum_digits)

Enter a number: 2223333
Sum of digits: 2
Sum of digits: 4
Sum of digits: 6
Sum of digits: 9
Sum of digits: 12
Sum of digits: 15
Sum of digits: 18

11. Print the first n terms of the geometric progression 2, 6, 18, 54, ... using a for loop.

In [54]:
a = int(input("Enter the first term (a): "))
r = int(input("Enter the common ratio (r): "))
n = int(input("Enter the number of terms: "))

term = a

for i in range(n):
    print(term)
   e term = term * r

Enter the first term (a): 2
Enter the common ratio (r): 3
Enter the number of terms: 5
2
6
18
54
162

12. Implement a program that generates a multiplication table for numbers from start to end using nested for loops.

In [73]:
# Program to generate multiplication tables from start to end

start = int(input("Enter start number: "))
end = int(input("Enter end number: "))

for num in range(start, end + 1):
    print("\nMultiplication Table of", num)
    for i in range(1, 11):
                print(num, "x", i, "=", num * i)

Enter start number: 2
Enter end number: 5

Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

13. Write a program to print a pyramid pattern of stars using nested for loops.

In [66]:
# Program to print a pyramid pattern of stars

n = int(input("Enter number of rows: "))

for i in range(1, n + 1):
    # print spaces
    for j in range(n - i):
        print(" ", end="")
    # print stars
    for k in range(2 * i - 1):
        print("*", end="")
    print()

Enter number of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************

14. Develop a program that simulates a basic dice roll, displaying the results for a user-specified number of rolls using a for loop.

In [64]:
import random

num_rolls = int(input("Enter the number of dice rolls: "))

print("Dice Roll Results:")
for _ in range(num_rolls):
    roll = random.randint(1, 6) # Simulate a roll of a 6-sided die
    print("Roll:", roll)

Enter the number of dice rolls: 5
Dice Roll Results:
Roll: 4
Roll: 5
Roll: 2
Roll: 4
Roll: 3

In [84]:
# Program to simulate dice rolls without using random

n = int(input("Enter number of rolls: "))

dice_value = 1  # start from 1

for i in range(n):
    print("Roll", i + 1, ":", dice_value)

    # move to next number (simulate rolling)
    dice_value += 1

    # reset when reaching 7 to stay between 1‚Äì6
    if dice_value == 7:
        dice_value = 1

Enter number of rolls: 5
Roll 1 : 1
Roll 2 : 2
Roll 3 : 3
Roll 4 : 4
Roll 5 : 5

15. Create a program that finds the common elements in two lists using nested for loops.

In [62]:
# Program to find common elements in two lists using nested for loops

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common = []

for x in list1:
    for y in list2:
            if x == y:
                        common.append(x)

                        print("Common elements:", common)

Common elements: [4]
Common elements: [4, 5]

16. Implement a program to find all prime numbers in a given range using a for loop and the Sieve of Eratosthenes algorithm.

In [81]:
# Program to find all prime numbers in a given range using Sieve of Eratosthenes

start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))

# Step 1: Create a list of True values (prime candidates)
prime = [True] * (end + 1)
prime[0] = prime[1] = False   # 0 and 1 are not prime

# Step 2: Sieve algorithm using loops
for i in range(2, int(end**0.5) + 1):
    if prime[i]:  # If number is still True, it's prime
            for j in range(i * i, end + 1, i):
                        prime[j] = False   # Mark multiples as not prime

# Step 3: Print primes in the given range
print("Prime numbers between",start , "and", end, ":")
for num in range(start, end + 1):
  if prime[num]:
      print(num)

Enter start of range: 10
Enter end of range: 40
Prime numbers between 10 and 40 :
11
13
17
19
23
29
31
37

17. Build a program that generates the nth term of the arithmetic progression 2, 5, 8, 11, ... using a for loop.

In [59]:
# Program to find the nth term of an arithmetic progression

n = int(input("Enter n: "))

a = 2   # first term
d = 3   # common difference

term = a

for i in range(1, n):
    term = term + d

    print("The", n, "th term of the AP is:", term)

Enter n: 2
The 2 th term of the AP is: 5