#### Looping and iteration: repeat something

### list,string,tuple,set: iterable objects

# for loop

In [ ]:
#range(start,stop,step)
#in string:s[start:stop:step]

In [29]:
l=[1,2,3,3,9,0]
l[0:5:1]

[1, 2, 3, 3, 9]

In [33]:
l[0:5:3]

[1, 3]

In [1]:
s="my name is aditya"

In [3]:
s[3:15:1]

'name is adit'

In [10]:
n=7
for i in n:
    print(i)

TypeError: 'int' object is not iterable

In [1]:
for i in range(1,4):
    print("hello")

hello
hello
hello

i=1 hello
i=2 hello
i=3 hello

In [3]:
for i in range(-1,3):
    print("hello")

hello
hello
hello
hello

In [29]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
for hello in range(0,5):
    print("hello")

hello
hello
hello
hello
hello

In [1]:
for hello in range(0,5):
    print(hello)

0
1
2
3
4

In [1]:
for num in range(0,11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### printing numbers from 50 to 10[50,45,40....]

In [4]:
for i in range(50,5,-5):
    print(i)

50
45
40
35
30
25
20
15
10

In [3]:
for i in range(5,55,5):
    print(55-i)

45
40
35
30
25
20
15
10
5

In [11]:
for i in range(10,35,5):
    print(i)

10
15
20
25
30

# 1.Sum of Numbers:

In [31]:
1+2+3+4+5+6+7+8+9+10

55

In [2]:
total=0 #1 #3 #6
for i in range(1,11):
    total=total+i
print(total)


# #1st for loop
# i=1
# total=0
# total=total+i
# total=0+1


# #2nd for loop
# i=2
# total=1
# total=total+i
#      =1+2

# #3rd for loop
# i=3
# total=3
# 6

55

In [4]:
n=int(input("Enter the range:"))
total=0 #initialize
for i in range(1,n+1): #(1,11)
    #total=total+i
    total+=i
print(total)

Enter the range: 34

595

In [16]:
1+2+3+4+5

15

In [3]:
n = int(input("Enter a number: "))
for i in range(1, n+1): #(1,5)
    print(i)

Enter a number:  4

1
2
3
4

In [6]:
l=[]
n = int(input("Enter a number: "))
for i in range(1, n+1):#(1,5)
    l.append(i*i)
print(l)

Enter a number:  4

[1, 4, 9, 16]

In [ ]:
l=[]
n = int(input("Enter a number: "))
for i in range(1, n+1):#(1,5)
    y=i*i
    l.append(y)
print(l)

In [2]:
l=[]
n = int(input("Enter a number: "))
for i in range(1, n+1):#(1,7)
    l.append(i*(i+1))
print(l)

Enter a number:  6

[2, 6, 12, 20, 30, 42]

In [7]:
l=[]
n = int(input("Enter a number: "))
for i in range(1, n+1):#(1,6)
    l.append(i)
print(l)

Enter a number:  5

[1, 2, 3, 4, 5]

In [3]:
sqaures=[]
for i in range(1,11):
    sqr=i**2
    sqaures.append(sqr)
print(sqaures)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 2. Factorial

In [39]:
5*4*3*2*1=1*2*3*4*5

120

In [7]:
factorial = 1 #initialize  #1 #2
n = int(input("Enter a number: "))
for i in range(1, n+1):#(1,6)
    factorial =factorial*i
print("Factorial:", factorial)




#1st for loop
f=1
i=1
f=1

#2nd for loop
f=1
i=2
f=2

#3r for loop
f=2
i=3
f=6


#4th for loop
f=6
i=4
f=24


#5th for loop
f=24
i=5
f=120

Enter a number:  4

Factorial: 24

In [13]:
factorial = 1 #initialize  #1 #2
n = int(input("Enter a number: "))
for i in range(n,0,-1):#(5,0,-1)
    factorial =factorial*i
print("Factorial:", factorial)

Enter a number:  5

Factorial: 120

# 3.Table of a Number:

In [9]:
n = int(input("Enter a number: ")) #5
for i in range(1, 11):
    #print(n*i)
    print(f"{n} * {i} = {n * i}")
    

# #1st for loop
# n=5
# i=1
# 5

# #2nd for loop 
# n=5
# i=2
# 10

Enter a number:  2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# 4.Counting Characters in a String:

In [2]:
s="hello"
for character in s:
    print(character)

h
e
l
l
o

In [2]:
s="hello"
for character in s:
    if character ==s[1]:#e
       print(character)

e

In [24]:
s="hello"
for character in s:
    print(character+"a")

ha
ea
la
la
oa

In [4]:
s="lookesh"
s.count("o")

2

In [12]:
count=0  #2
s=str(input("enter your string:"))  #python
target=str(input("enter the target char:"))#t
for i in s:
    if target==i:
        count=count+1
print(count)


# #first for loop 
# i=l
# target="l"

enter your string: hello
enter the target char: l

2

In [10]:
s=str(input("enter your sting: "))#python
character_to_count=str(input("Enter the char that uh want to count: "))#y
count=0 #initialize
for c in s:
    if c==character_to_count:
        count=count+1
        
print("the count of",character_to_count,"is:",count)

enter your sting: python
Enter the char that uh want to count: a
the count of a is: 0

In [13]:
text = str(input("Enter a string: "))  #python
target_char = str(input("Enter a character to count: "))#p
count = 0

for i in text:
    if i == target_char:
        count += 1  #count=count+1
print(f"Occurrences of '{target_char}': {count}")

Enter a string: piuh
Enter a character to count: a
Occurrences of 'a': 0

# 5.Calculating the average grade for a list of student grades.

In [6]:
grades = [85, 90, 78, 92, 88,89,90,100]
sum(grades)

712

In [7]:
712/8

89.0

In [9]:
sum1=0   #85  #175
for num in grades:
    #sum1=sum1+num  
    sum1+=num
print(sum1)
print(len(grades))
average=sum1/len(grades)
print(average)

712
8
89.0

In [1]:
grades = eval(input("Enter the marks:"))
total = 0  #initialize
for marks in grades:
    total += marks  #total=total+marks
average = total / len(grades)
print("total:",total,"Average Grade:", average)
print(f"total:{total} Average Grade: {average}")

Enter the marks: [4,4,5,6]

total: 19 Average Grade: 4.75
total:19 Average Grade: 4.75

## Nested for loop

# Printing Patterns

We require 5 things
- Input : How many Rows
- for loops : one for rows and one  for columns
- range(start,stop,step)
- print()
- end=" "

In [ ]:
hello hi

### use of end=" "

In [1]:
print("hello")
print("hi")

hello
hi

In [3]:
print("hello", end=" ")  #end provide the space after the text,by default its /n==>newline
print("hi")

hello hi

In [13]:
print("#",end=" ")
print("#",end=" ")
print("#",end=" ")
print("#",end=" ")

# # # #

In [14]:
print("#")  #end=""  by default \n==>newloine
print("#")
print("#")
print("#")

#
#
#
#

In [4]:
for i in range(1,6):
    print("hello", end=" ")
    print("a")
    print("chetana",end="\n")
    #print()

hello a
chetana
hello a
chetana
hello a
chetana
hello a
chetana
hello a
chetana

In [7]:
size = 5
for i in range(1,size+1): #(1,6) #outer for loop for rows
    #print("*" * size)
    print("+" * size)
    print()

+++++

+++++

+++++

+++++

+++++

In [19]:
for i in range(4): #(0,4)
    print("#",end=" ")
print()
for i in range(4):
    print("#",end=" ")
print()
for i in range(4):
    print("#",end=" ")
print()
for i in range(4):
    print("#",end=" ")

# # # #
# # # #
# # # #
# # # #

In [6]:
for i in range(4):
    print("#",end=" ")

# # # #

In [6]:
for i in range(1,5):  #row
    for j in range(1,5):  # col
        print("#",end=" ")
    print() #new line

# # # #
# # # #
# # # #
# # # #

In [14]:
for i in range(1, 6):   #row
    for j in range(i):    #column(0,1),(0,2),(0,3),(0,4),(0,5),range(1)==>(0,1)
        print("*", end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [18]:
for i in range(1, 6):
    for j in range(i+1): #range=(0,2),(0,3),(0,4),(0,5),(0,6)
        print("*", end=" ")
    print()

* *
* * *
* * * *
* * * * *
* * * * * *

In [13]:
for i in range(1, 6):
    print("chetana " * i,end=" ")
    print()

chetana
chetana chetana
chetana chetana chetana
chetana chetana chetana chetana
chetana chetana chetana chetana chetana

In [3]:
num_rows = int(input("Enter the number of rows: "))
for i in range(1,num_rows + 1): #range(1,5)
    for j in range(i): #(0,1),(0,2),(0,3),(0,4)
        print("*", end=" ")
    print()   ##new line

Enter the number of rows:  4

*
* *
* * *
* * * *

In [15]:
num_rows = int(input("Enter the number of rows: "))
for i in range(0,num_rows + 1):#range(0,5)
    for j in range(i): #(0,0),(0,1),(0,2)
        print("*", end=" ")
    print()   ##new line

Enter the number of rows:  4

*
* *
* * *
* * * *

In [3]:
num_rows = int(input("Enter the number of rows: "))
for i in range(1,num_rows + 1):#(1,6)
    for j in range(num_rows-i):#(0,4),(0,3),(0,2),(0,1)
        print("*", end=" ")
       ##new line
    print()
    #print("\n")

Enter the number of rows:  5

* * * *
* * *
* *
*

In [5]:
num_rows = int(input("Enter the number of rows: "))
for i in range(num_rows,1,-1):#(5,1,-1)
    for j in range(i-1):#(0,4),(0,3),(0,2),(0,1)
        print("*", end=" ")
       ##new line
    print()
    #print("\n")

Enter the number of rows:  5

* * * *
* * *
* *
*

In [7]:
for i in range(1,6):
    for j in range(i): #range of j (0,1),(0,2),(0,3),(0,4)
        print(i+1,end=" ")
    print()

2
3 3
4 4 4
5 5 5 5
6 6 6 6 6

In [19]:
for i in range(-1,4):
    for j in range(i+2):#range(0,1),(0,2),(0,3)
        print(i+1,end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [1]:
for i in range(1,5):
    for j in range(i):#(0,1),(0,2)
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [5]:
for j in range(1, 11):  #rows      
    for i in range(1, 5):  #column   
        print(f"{i}x{j}={i*j}", end="\t") 
    print()

1x1=1	2x1=2	3x1=3	4x1=4
1x2=2	2x2=4	3x2=6	4x2=8
1x3=3	2x3=6	3x3=9	4x3=12
1x4=4	2x4=8	3x4=12	4x4=16
1x5=5	2x5=10	3x5=15	4x5=20
1x6=6	2x6=12	3x6=18	4x6=24
1x7=7	2x7=14	3x7=21	4x7=28
1x8=8	2x8=16	3x8=24	4x8=32
1x9=9	2x9=18	3x9=27	4x9=36
1x10=10	2x10=20	3x10=30	4x10=40

# For loop with if

# 1.Even

In [1]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [1]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [2]:
for i in range(0,11):
    if i%2==0:
    
print(i)

IndentationError: expected an indented block after 'if' statement on line 2 (2328633710.py, line 4)

# 2.odd

In [3]:
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [5]:
for num in range(1, 11):
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd",end="\t")

1 is odd	2 is even
3 is odd	4 is even
5 is odd	6 is even
7 is odd	8 is even
9 is odd	10 is even

# 3. Check Vowels

In [ ]:
#aeiou

In [6]:
text =str(input("Enter the text:")) #pythoon
vowels = "aeiouAEIOU"
l=[]  #initialize
for char in text:
    if char in vowels:
        if char not in l:
            l.append(char)
print(l)

Enter the text: hello

['e', 'o']

In [8]:
text =str(input("Enter the text:")) #helloo
vowels = "aeiouAEIOU"
l=[]  #initialize
count=0
for char in text:
    if char in vowels:
        #count=count+1
        if char not in l:
            l.append(char)
            count=count+1
print(l)   
print(count)

Enter the text: helloo

['e', 'o']
2

# 4.Filtering Positive numbers

In [5]:
n=[1,2,1,2,-4,-8,7,-9,0,-0.2] 
positive=[]
negative=[]
for i in n:
    if i>0:
        if i not in positive:
             positive.append(i)
    elif i<0:
        if i not in negative:
            negative.append(i)
    else :
        s="0 is in the list which is nuetral"
       
        
print(positive)
print(negative)
print(s)

[1, 2, 7]
[-4, -8, -9, -0.2]
0 is in the list which is nuetral

In [12]:
numbers = [5, -2, 10, -8, 7, 3]
print("Positive Numbers are:")
for num in numbers:
    if num > 0:
        print(num)

Positive Numbers are:
5
10
7
3

In [17]:
numbers =eval(input("enter the list"))
print("Positive Numbers are:")
for num in numbers:
    if num > 0:
        print(num)

enter the list 7,8,7,5

Positive Numbers are:
7
8
7
5

# 5.Identifying Palindromes:

In [6]:
words = ["level", "hello", "radar", "python","nayan","level"]
palindromes=[]
for w in words:
    if w == w[::-1]:   #forward word==reverse of that word
        palindromes.append(w)  
palindromes

['level', 'radar', 'nayan', 'level']

# Iterating over list

In [9]:
n=123,124,125,120
l=[]
for i in n:
    s=str(i)  #convert to string==>'123','124'
    reverse=s[::-1]  #'321','421'
    n=int(reverse) #321,421
    l.append(n)
print(l)

[321, 421, 521, 21]

In [23]:
fruits = ["apple", "banana", "orange", "grape","ahjhsa","bhg","bgdjhgsad"]
for i in fruits:
    if i.startswith("b"):
        print(i)

banana
bhg
bgdjhgsad

# Calculating Total Expenses:

In [24]:
expenses = [45.50, 12.75, 30.25, 5.00, 22.30]
total = 0
for i in expenses:
    total += i   #total=total+i
print("Total expenses:", total)

Total expenses: 115.8

In [30]:
45.50+12.75+30.25+5+22.30

115.8

# Finding Maximum and Minimum Values:

# max no

In [25]:
numbers = [25, 18, 32, 47, 12, 9,100,120]
max(numbers)

120

In [26]:
min(numbers)

9

In [1]:
numbers = [25, 18, 32, 47, 12, 9,100,120,190]
max_no=numbers[0]  #25,#32
for i in numbers:
    if i>max_no:
        max_no=i
print(max_no)

190

In [13]:
numbers =eval(input())
min_no=numbers[3]  #47
for i in numbers:
    if i<min_no:
        min_no=i
print(min_no)

 1,2,3,4

1

In [2]:
min(numbers)

9

In [1]:
numbers = [25, 18, 32, 47, 12, 9,100]
max_value = numbers[0]  #25
min_value = numbers[0]  #25
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 100
Minimum value: 9

# Searching for an Item:

In [13]:
items = ["apple", "banana", "orange", "grape"]
target_item = str(input("Enter the item you want to find: "))#apple
found = False  #initialization
for t in items:
    if t == target_item:
        found = True
        print(target_item, "is in the list.")
        break
        
        

else:
    print(target_item, "is not in the list.")

Enter the item you want to find:  orange

orange is in the list.

# Printing Elements with Specific Property:

In [33]:
words = ["apple", "banana", "orange", "grape", "watermelon", "kiwi"]
for word in words:
    if len(word) > 5:
        print("Long word:", word)

Long word: banana
Long word: orange
Long word: watermelon

In [15]:
words = ["apple", "banana", "orange", "grape", "watermelon", "kiwi"]
l=[]
for i in words:
    if len(i) > 5:
        l.append(i)
print(l)

['banana', 'orange', 'watermelon']

# Iterable objects

- List,tuple,range,dict:  orderd, we can apply for loop 
- set:   unorderd, we can apply for loop

In [48]:
s1={"name":"chetana","city":"ratnagiri"}
for i in s1:
    if i=="name":
        print(i)

name

In [49]:
s1 = {"name": "chetana", "city": "ratnagiri"}

for key in s1:
    print(key)

name
city

In [52]:
s1 = {"name": "chetana", "city": "ratnagiri"}

for key in s1.keys():#["name","city"]
    print(key)

name
city

In [50]:
s1 = {"name": "chetana", "city": "ratnagiri"}

for value in s1.values:  #["chetana","ratnagiri"]
    print(value)

chetana
ratnagiri

In [5]:
s1 = {"name": "chetana", "city": "ratnagiri"}

for item in s1.items():
    print(item)

('name', 'chetana')
('city', 'ratnagiri')

In [17]:
s="python"
"p" in s

True

In [5]:
s="Hello 5 python"
sp=s.split()
sp

['Hello', '5', 'python']

In [15]:
#without using for loop
s = "Hello python"

# Input from user
find = str(input("Enter the character or word you want to find: ")) #e, Hello

# Check if the input is a single character or a word
if len(find) == 1:
    # Search for a character
    if find in s:
        print(find, "Found in the string")
    else:
        print(find, "Not found in the string")
else:
    # Search for a word
    sp = s.split(" ")  #["Hello","python"]
    if find in sp:
        print(find, "Found in the string")
    else:
        print(find, "Not found in the string")

Enter the character or word you want to find:  Hello

Hello Found in the string

Break: break is used to stop a loop immediately, even if the loop has not finished all its iterations.
It jumps out of the loop.

Continue: continue is used to skip the current iteration of the loop and move to the next iteration.
It does not stop the loopjust skips one cycle.

In [7]:
#using a for loop
# Define the string
s = "Hello python world, welcome to the world of programming"

# Input from user
find = str(input("Enter the word you want to find: "))  #Hello

# Split the string into words
words = s.split()
#print(words)
# Flag to check if word is found
found = False

# Iterate through each word in the list
for word in words:
    if word == find:
        print(find, "Found in the string")
        found = True
        break  # Exit the loop once the word is found

# If the word is not found, print a message
if not found:
    print(find, "Not found in the string")

Enter the word you want to find:  Hello

Hello Found in the string

In [5]:
list_of_strings = ["apple,banana,orange", "cat,dog,mouse"]
result = []

# Using a for loop to split each string
for s in list_of_strings:
    result.append(s.split(',')) #["apple","orange","banana"]

print(result)

[['apple', 'banana', 'orange'], ['cat', 'dog', 'mouse']]

# While loop

In [16]:
bill=int(input("enter your current bill:"))
sum1=bill
while bill!=0:
    bill=int(input("Enter your next bill:"))
    sum1=sum1+bill
print(sum1)

enter your current bill: 300
Enter your next bill: 300
Enter your next bill: 0

600

In [17]:
vote="M"
acount=0
mcount=0
while vote!="Quit":
    vote=str(input("enter your vote:"))
    if vote=="M":
        mcount=mcount+1
    elif vote=="A":
        acount=acount+1
    
    else:
        print("enter the proper vote:")
    
print("Alex votes:",acount)
print("Manu votes:",mcount)

enter your vote: M
enter your vote: A
enter your vote: A
enter your vote: M
enter your vote: A
enter your vote: M
enter your vote: A
enter your vote: M
enter your vote: Quit

enter the proper vote:
Alex votes: 4
Manu votes: 4

In [19]:
choice="yes"
while choice!="no":
    distance=int(input("enter distance:"))
    if distance<0:
        print("Invalid distance ,enter positive distance")
        break
    else:
        time=int(input("enter time:"))
        speed=distance/time
        
    print(speed)
    choice=str(input("enter your choice:"))

enter distance: 4
enter time: 7

0.5714285714285714

enter your choice: no

In [20]:
choice="yes"
while choice!="no":
    distance=int(input("enter distance:"))
    if distance<0:
        print("Invalid distnace ,enter positive distance")
        continue
    else:
        time=int(input("enter time:"))
        speed=distance/time
        
    print(speed)
    choice=str(input("enter your choice:"))

enter distance: 4
enter time: 6

0.6666666666666666

enter your choice: yes
enter distance: -8

Invalid distnace ,enter positive distance

enter distance: 9
enter time: 8

1.125

enter your choice: no

In [1]:
# Get input from the user
num = int(input("Enter a number: "))

# Outer loop to go through numbers 1 to 10

while num!=0:
    # Inner loop to calculate and print the multiplication result
    j = 1
    while j <= 10:
        print(f"{num} x {j} = {num * j}")
        j += 1
    print() # Print a blank line after each table row (optional)
    break

Enter a number:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# Prime number

In [17]:
num=int(input("Enter number:"))
if num==1:
    print("not a prime number")
else:
    for i in range(2,num):#(2,7)
        if num%i==0:
            print("not a prime number")
            break
       
    else:
        print("prime")

Enter number: 7

prime

In [22]:
num = int(input("Enter number:"))

if num == 1:
    print("Not a prime number")
else:
    for i in range(2, int(num ** 0.5) + 1): #(2,7) # Only check up to the square root of num
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime")

Enter number: 9

Not a prime number

(int(num ** 0.5) + 1)==>(int(45**0.5)+1)==>int(6.7+1)==>int(7.7)==>7

range(2,7)

factors of 45==>9*5,5*9,15*3,3*15,1*45,45*1

i=2 ==> 45/2==22.5

In [3]:
# Get number of rows from user
rows = int(input("Enter the number of rows: "))

i = 1  # Outer loop counter (for each row)
while i <= rows:
    # Print spaces
    j = 1
    while j <= rows - i:
        print(" ", end="")
        j += 1
    
    # Print stars
    k = 1
    while k <= (2 * i - 1):
        print("*", end="")
        k += 1

    print()  # Move to the next line
    i += 1

Enter the number of rows:  4

   *
  ***
 *****
*******