### frozenset():
- it is a type of set
- it will make mutable objects to immutable 
- it will not allow duplicate elements
- it is an unordered

In [ ]:
#freeze the iterable elements
#it makes elements immutable

In [ ]:
mutable===> list,set,dict
immutable===> string,int,tuple

In [1]:
l=[1,2,3,45,1,2,3,4]
l

[1, 2, 3, 45, 1, 2, 3, 4]

In [2]:
l.append(50)
l

[1, 2, 3, 45, 1, 2, 3, 4, 50]

In [3]:
f1=frozenset(l)              #removes the duplicates as it doest not allow duplicates

In [4]:
f1

frozenset({1, 2, 3, 4, 45, 50})

In [5]:
f1.append(56)

AttributeError: 'frozenset' object has no attribute 'append'

In [6]:
s={1,2,3,4,6,1,2,3,2}   #sets
s

{1, 2, 3, 4, 6}

In [9]:
s.add(9)

In [10]:
s

{1, 2, 3, 4, 6, 9}

In [11]:
f2=frozenset(s)

In [12]:
f2

frozenset({1, 2, 3, 4, 6, 9})

In [13]:
f2.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

In [17]:
t=(1,2,3,4,6,1,2,1,2)  #immutable 
t

(1, 2, 3, 4, 6, 1, 2, 1, 2)

In [19]:
f3=frozenset(t)

In [21]:
f3

frozenset({1, 2, 3, 4, 6})

In [23]:
l=list(f3)

In [25]:
l

[1, 2, 3, 4, 6]

In [27]:
l.append(9)
l

[1, 2, 3, 4, 6, 9]

### Dictionary

### dict
- {}
- key:value pair
- dict
- doesnot allow duplicates elements 
- ordered 
- mutable
- key is important when we change, add,remove elements

In [1]:
d1={"name":"yash","city":"ratnagiri","age":28,"id":1,"courses":["AI","DS"]}
# key: immutble(str,int,tuple)
# value:immutble,mutable(list,set,dict)

In [3]:
d1

{'name': 'yash',
 'city': 'ratnagiri',
 'age': 28,
 'id': 1,
 'courses': ['AI', 'DS']}

In [5]:
d2={"name":"yash","city":"ratnagiri","age":28,"id":1}
d2

{'name': 'yash', 'city': 'ratnagiri', 'age': 28, 'id': 1}

In [7]:
d3={[1,2,3]:"yash"}

TypeError: unhashable type: 'list'

### Changing element using key

In [9]:
d1={"name":"yash","city":"ratnagiri","age":28,"id":1,"courses":["AI","DS"]}
d1["name"]="aditee"
print(d1)

{'name': 'aditee', 'city': 'ratnagiri', 'age': 28, 'id': 1, 'courses': ['AI', 'DS']}

In [3]:
d1["city"]=["nagpur","pune"]
print(d1)

{'name': 'aditee', 'city': ['nagpur', 'pune'], 'age': 28, 'id': 1, 'courses': ['AI', 'DS']}

### adding the elements

In [5]:
d1["mobile no."]=13545454
print(d1)

{'name': 'aditee', 'city': ['nagpur', 'pune'], 'age': 28, 'id': 1, 'courses': ['AI', 'DS'], 'mobile no.': 13545454}

In [7]:
d1["salary"]=60000
print(d1)

{'name': 'aditee', 'city': ['nagpur', 'pune'], 'age': 28, 'id': 1, 'courses': ['AI', 'DS'], 'mobile no.': 13545454, 'salary': 60000}

### Removing element using key

In [9]:
del d1["Data science"]
print(d1)

KeyError: 'Data science'

In [11]:
del d1["courses"]
d1

{'name': 'aditee',
 'city': ['nagpur', 'pune'],
 'age': 28,
 'id': 1,
 'mobile no.': 13545454,
 'salary': 60000}

In [36]:
d1.discard("age")

AttributeError: 'dict' object has no attribute 'discard'

In [37]:
d1.remove("age")

AttributeError: 'dict' object has no attribute 'remove'

In [15]:
d1.clear()

In [17]:
d1   #empty dict

{}

In [40]:
l=[1,2,3,4]

In [42]:
l.clear()
l

[]

In [43]:
del l

In [44]:
l

NameError: name 'l' is not defined

In [19]:
d1["name"]="rahul"
d1

{'name': 'rahul'}

In [21]:
d1["age"]=34
d1

{'name': 'rahul', 'age': 34}

In [23]:
del d1

In [25]:
d1

NameError: name 'd1' is not defined

In [11]:
d1={"name":"yash","city":"ratnagiri","age":28,"id":1}

In [13]:
len(d1)

4

In [15]:
d1["name"]

'yash'

In [17]:
d1["age"]

28

In [19]:
d1.keys()   #gives only keys in the dict

dict_keys(['name', 'city', 'age', 'id'])

In [21]:
d1.values()  #gives only values in the dict

dict_values(['yash', 'ratnagiri', 28, 1])

In [23]:
d1.items()  #gives only keys and values in the dict

dict_items([('name', 'yash'), ('city', 'ratnagiri'), ('age', 28), ('id', 1)])

In [25]:
d1

{'name': 'yash', 'city': 'ratnagiri', 'age': 28, 'id': 1}

In [27]:
d1.pop("name")   #pop or remove the name

'yash'

In [29]:
d1

{'city': 'ratnagiri', 'age': 28, 'id': 1}

In [31]:
d1.pop("id")

1

In [33]:
d1

{'city': 'ratnagiri', 'age': 28}

In [35]:
d1.popitem()  #last inserted element will remove

('age', 28)

In [37]:
d1

{'city': 'ratnagiri'}

In [45]:
str1="yash"
str1.clear()
str1

AttributeError: 'str' object has no attribute 'clear'

In [40]:
tup=(1,2,5,6)
tup.clear()
tup

AttributeError: 'tuple' object has no attribute 'clear'

In [41]:
list1=[1,2,5,6]
list1.clear()
list1

[]

### Indexing and Slicing

In [1]:
d = {"name": "Aditya", "age": 25, "city": "Mumbai", "country": "India"}

# Convert the keys to a list and slice it
keys_list = list(d.keys())
keys_list

['name', 'age', 'city', 'country']

In [2]:
print(keys_list[:4])  # Output: ['name', 'age']

['name', 'age', 'city', 'country']

In [3]:
# Convert the values to a list and slice it
values_list = list(d.values())

values_list

['Aditya', 25, 'Mumbai', 'India']

In [4]:
print(values_list[:3])  # Output: ['Aditya', 25]

['Aditya', 25, 'Mumbai']

In [11]:
# Convert items to a list of key-value pairs (tuples)
items_list = list(d.items())
items_list

[('name', 'Aditya'), ('age', 25), ('city', 'Mumbai'), ('country', 'India')]

In [13]:
print(items_list[:2])  # Output: [('name', 'Aditya'), ('age', 25)]

[('name', 'Aditya'), ('age', 25)]

In [49]:
d = {"name": "Aditya", "age": 25, "city": "Mumbai", "country": "India"}

# Slice first two items
items_list = list(d.items())[:2]
print(items_list)  # Output: [('name', 'Aditya'), ('age', 25)]

[('name', 'Aditya'), ('age', 25)]

### Write a code in which name key has list of student names and subject key has list of subjects and print the subject list associated with each student name

In [5]:
d2={"name":["aditya","yash","pratik"],"subjects":[["maths","arts"],["marathi","hindi"],["science","history"]]}
d2

{'name': ['aditya', 'yash', 'pratik'],
 'subjects': [['maths', 'arts'], ['marathi', 'hindi'], ['science', 'history']]}

In [1]:
d2 = {
    "name": ["aditya", "yash", "pratik"],
    "subjects": [["maths", "arts"], ["marathi", "hindi"],["science","history"]]
}

# Find the index of 'yash' in the 'name' list
index = d2["name"].index("yash")
index

1

In [22]:
# Use the index to get the corresponding subjects for 'yash'
yash_subjects = d2["subjects"][index]
yash_subjects

['marathi', 'hindi']

In [24]:
# Output the subjects
print(f"Yash's subjects are: {yash_subjects}")

Yash's subjects are: ['marathi', 'hindi']

In [6]:
index = d2["name"].index("pratik")
index

2

In [7]:
pratik_subjects = d2["subjects"][index]
pratik_subjects

['science', 'history']

In [8]:
# Output the subjects
print(f"Pratik's subjects are: {aditya_subjects}")

Pratik's subjects are: ['science', 'history']