##### In-built function

In [ ]:
print()
input()
int()
type()
len()
max()
float()
min()
sum()

##### abs()

In [1]:
a=-234      #abs=absolute
abs(a)

234

In [6]:
b=abs(789)
b

789

In [2]:
s="-11223" #"11223"
int(s[1:])

11223

In [1]:
s="11223"
int(s[1:])

1223

In [2]:
num=int(input("enter no:")) #-7
s=str(num)   #"-7"
#print(s)

if s[0]=="-":
    s=s[1:]  #"7"
print(int(s))

enter no: 67

67

### Syntax of writing functions

def funtionname():
    expression or operation

In [2]:
pow(2,3)   #in-built

8

### power()

In [5]:
#user defined function
def hello (a,b):
    return a**b

In [6]:
hello(14,2)  #function call

196

In [1]:
pow(14,2)

196

In [7]:
hello (7,8)

5764801

In [1]:
7**8

5764801

In [1]:
def absolute(n):
    s=str(n)  #"-123", "892"
    if "-" in s[0]:
        print(int(s[1:]))  #int("123")==>123
    else:
        print(n)

In [2]:
absolute(-123)

123

In [3]:
absolute(892)

892

In [3]:
x=-123     #abs=absolute
abs(x)

123

In [ ]:
#syntax:def fn_name():

In [16]:
print("aditee")

aditee

In [17]:
return "aditee"

SyntaxError: 'return' outside function (1837764072.py, line 1)

In [4]:
def chetana():
    num=int(input("enter no: "))#-89
    str_format=str(num)  #"-89"
    if str_format[0]=="-":
        print(int(str_format[1:]))  #int("89")==>89
    else:
        print(num)

In [5]:
chetana()

enter no:  -89

89

In [2]:
absolute(123)

123

In [24]:
absolute(-124)

124

##### dir()

In [19]:
import statistics

In [21]:
print(dir(statistics.math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [29]:
import math

In [ ]:
#package/library===>module===>functions

In [6]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [30]:
math.factorial(5)

120

In [22]:
sqrt(81)

NameError: name 'sqrt' is not defined

In [13]:
math.sqrt(64)

8.0

In [9]:
def sqrroot(a):
    return (a**0.5)

In [11]:
sqrroot(64)

8.0

##### round()

In [22]:
a=234.8
round(a)

235

In [23]:
a=234.4
round(a)

234

In [23]:
int(234.8)

234

In [24]:
234.8-int(234.8)

0.8000000000000114

In [24]:
int(89.9)

89

In [16]:
a=89.9
89.9-int(89.9)

0.9000000000000057

In [18]:
decimal_part=a-int(a) #234.8-234
decimal_part

0.9000000000000057

In [25]:
round(35.5)

36

In [7]:
def round_up(a):
    decimal_part=a-int(a)  #35.6-35=0.6
    if decimal_part>=0.5:
        print(int(a)+1)  #35+1=36
    else:
        print(int(a))

In [8]:
round_up(35.6)

36

##### id()

In [35]:
a=90

In [36]:
#id() gives memory location.
id(a)

140732311248456

In [7]:
ord("l")  #ascii

108

In [8]:
chr(108)

'l'

In [9]:
ord("a")

97

##### divmod()

In [3]:
23/14         #gives quotient

1.6428571428571428

In [4]:
23%14         #gives remainder

9

In [11]:
a=23
b=14
divmod(a,b)     #gives quotient and remainder

(1, 9)

In [9]:
a=23.5
b=14
divmod(a,b)

(1.0, 9.5)

In [14]:
20/2

10.0

In [15]:
20%2

0

In [16]:
a=20
b=2
divmod(a,b)

(10, 0)

##### help()

In [34]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [7]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [17]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [12]:
l=[1,4,5,9.8]
sum(l)

19.8

In [19]:
l=[1,4,5,9.8,"a"]
sum(l)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [14]:
s={1,2,3,4}
sum(s)

10

In [25]:
s1=[1,2,4,1,23]
s2=[2,4,6,8]
sum(s1)+sum(s2)

51

In [16]:
a=90
b=90
a+b

180

In [13]:
def add(a,b):
    c=3
    addition=a+b+c
    return(addition)

add(9,9)

21

In [26]:
a=90
b=89
c=0
a+b+c

179

In [15]:
def add(a,b):
    c=int(input("enter the value:"))
    return a+b+c

add(2,3)

enter the value: 9

14

In [15]:
add(9,7)

enter the value: 6

22

### 1) Function without return and without parameter

In [12]:
def addition():
    a=int(input("enter no.1:"))
    b=int(input("enter no.2:"))
    c=int(input("enter no.3:"))
    d=a+b+c
    print(d)

In [13]:
addition()

enter no.1: 3
enter no.2: 3
enter no.3: 3

9

In [46]:
def addition2():
    p=addition()+x+y+z   #wrong syntax
    print(p)

In [14]:
def mul():  #without return and without parameter
    x=12
    y=2
    z=x*y
    print(z)

In [15]:
mul()

24

In [4]:
def square():
    x=6
    y=x*x
    print(y)

In [5]:
square()

36

In [1]:
def cube():
    x=3
    y=(x**2)*x  #x**3
    print(y)

In [2]:
cube()

27

### 2) Function with return and without parameter

In [25]:
def mult():
    x=12
    y=4
    z=x*y
    return z

In [26]:
mult()

48

In [3]:
def mult():
    x=int(input("enter:"))
    y=int(input("enter:"))
    z=x*y
    return z

In [5]:
mult()

enter: 5
enter: 5

25

In [18]:
def maxim():
    l=[74,21,56,45,23]
    max1=l[0] #74
    for num in l:
        if num>max1:
            max1=num
    #print(max1)
    return max1
    
    
maxim()

74

### 3)Function without return and with parameter

In [15]:
def sum1(a,b):
    c=a+b
    print(c)

In [19]:
sum1(20,6)

26

In [35]:
l=[1,2,9,0,23]
max(l)

23

In [36]:
max(45,50,90,9)

90

In [38]:
def maxim(l):
    max1=l[0]
    for num in l:
        if num>max1:
            max1=num
    print(max1)

In [39]:
maxim([34,21,56,34,23])

56

In [43]:
maxim({1,2,7})

TypeError: 'set' object is not subscriptable

### 4) Function with parameter and  with return

In [9]:
def cube(n):
   # n=4   #n parameter passed in functoin
    c=n**3
    return c

In [83]:
cube(9)

729

In [84]:
cube(8)

512

In [11]:
cube(2)

8

In [10]:
import math

In [108]:
math.factorial(10)

3628800

In [6]:
def factor(n):
    factorial=1 #2#6#24
    for i in range(1, n+1):  #1*2*3*4*5
        factorial=factorial*i  #1#2#6#24#120
    return factorial

In [7]:
factor(10)

3628800

In [8]:
factor(5)

120

In [11]:
math.factorial(5)

120

# Scope of variables

# Local scope

In [15]:
def divide(e):
    p=45   #local variable  ;variables declared inside function
    k=p+10
    return k, e/p
divide(90)

(55, 2.0)

In [16]:
e

NameError: name 'e' is not defined

In [17]:
p

NameError: name 'p' is not defined

In [120]:
k

NameError: name 'k' is not defined

In [1]:
def summation(a,b):
    c=12 #local variable
    return a+b+c

summation(4,5)

21

In [2]:
print(c)

NameError: name 'c' is not defined

In [3]:
def Arithmetic(a,b):  #main function
    print("Doing arithmetic operations on 2 numbers")
    def add():
        p=89
        c=a+b
        return c
    def sub():
        d=a-b
        return d
    return add(),sub()
        
     

Arithmetic(4,5)

Doing arithmetic operations on 2 numbers

(9, -1)

In [5]:
Arithmetic(8,10)

Doing arithmetic operations on 2 numbers

(18, -2)

In [10]:
a
b
p

NameError: name 'a' is not defined

In [7]:
c=18 #global variable:Outside function
def summation(a,b):
   
    return a+b+c

summation(4,5)

27

In [124]:
summation(0,0)

18

In [125]:
print(c)

18

In [9]:
a

NameError: name 'a' is not defined

# global scope

In [126]:
x=89  #global
def m1():
    y=345  #local
    print(y)
    print(y+x)

In [127]:
m1()

345
434

In [128]:
y

NameError: name 'y' is not defined

In [129]:
x

89

In [130]:
b=45     #global variable
def divide(a):

    return a/b
divide(5)

0.1111111111111111

In [131]:
print(b)

45

In [142]:
c=657   #global 
def m2():
    global v,o
    v=90
    o=89
    print(c)
    print(v)

In [143]:
m2()

657
90

In [144]:
c

657

In [145]:
v

90

In [146]:
o

89

In [147]:
p=20    #global

In [148]:
def mult(a):
    return a*p
mult(2)

40

In [11]:
def divide(b):
    u=3
    div=u/b
    return div
divide(5)

0.6

In [13]:
u

NameError: name 'u' is not defined

In [12]:
def mult():
    global f
    f=45
    global j
    j=78
    return f*j
mult()

3510

In [13]:
f

45

In [17]:
def mult():
    global f,j,i
    f=45
    j=78
    i=45
    return f*j,i
mult()

(3510, 45)

In [18]:
f

45

In [19]:
j

78

In [20]:
i

45

In [22]:
a=34
b=89
def mult():

    return a*b
mult()

3026

In [23]:
a

34

In [24]:
b

89

In [39]:
def divide():
    return f/j
divide()

0.38202247191011235

In [11]:
def arithmetic():
    global h
    h=23 #global
    y=45 #local
    return h+y
arithmetic()

68

In [12]:
h

23

In [13]:
y

NameError: name 'y' is not defined

In [25]:
def arithmatic():
    global h
    h=23
    y=12
    z=h+y
    print(z)
arithmatic()

35

In [26]:
h

23

In [27]:
y

NameError: name 'y' is not defined

In [62]:
def sub():
    y=9
    a=h-y
    print(a)
sub()

14

In [63]:
h

23

### Nested function

In [3]:
a=67  #global
b=43
def arithmatic():
    c=a+b
    print(c)
    def sub():
        z=a-b
        print(z)
    return sub()

In [4]:
arithmatic()

110
24

In [47]:
a

67

#### Create a function that takes an integer as input and returns "Even" if it's even and "Odd" if it's odd.

In [19]:
def even_odd_checker(n):
    if n%2==0:
        print("even")
    else:
        print("odd")

In [22]:
even_odd_checker(4)

even

In [20]:
even_odd_checker(45)

odd

In [117]:
#0,1,1,2,3,5,8......
fibo=[0,1]  #initialization[0,1,1,2,3]
for i in range(1,19):
    next_term=fibo[-1]+fibo[-2]
    fibo.append(next_term)
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [11]:
def fibbo(n):
    fibo=[0,1]  #initialization[0,1,1,2,3]
    for i in range(1,n+1):
        next_term=fibo[-1]+fibo[-2]
        fibo.append(next_term)
    print(fibo)

fibbo(5)

[0, 1, 1, 2, 3, 5, 8]

In [14]:
even=[]
odd=[]
def filter_even_odd(l):
    for i in l:
        if i%2==0:
            if i not in even:
                even.append(i)
        else:
            if i not in odd:
                odd.append(i)
    return even,odd
filter_even_odd([2,4,5,7,9,2,5,7,9,0,7])

([2, 4, 0], [5, 7, 9])

In [15]:
even

[2, 4, 0]

## lambda fn

In [10]:
def add(a,b):
    return a+b
add(4,5)

9

In [12]:
def arithmetic(a,b):
    c=a+b
    d=a-b
    x=a*b
    return c,d,x
arithmetic(4,5)

(9, -1, 20)

Lambda Function
  - It is ananymous funtion
  - We dont need to give name to the lambda fn
  - simply we store it in a variable
  - lambda fn will accept infinite parametrs bt with that parametrs we can write only one expression
  -syntax: x=lambda parametrs : expression

In [1]:
x=lambda a,b,c:a+b+c
x(4,5,8)

17

In [24]:
def mult(a,b,c):
    return a*b*c,a+b
mult(8,2,0)

(0, 10)

In [45]:
y=lambda a,b,c:a*b*c
y(4,5,2)

40

In [5]:
#add 10 to any number
#regular def fn
def adding_10(x):
    return x+10
adding_10(20)

30

In [19]:
a=lambda x:x+10
a(100)

110

In [5]:
def mult(a,b):
    return a*b
mult(5,2)

10

In [6]:
mult=lambda a,b:a*b
mult(2,5)

10

In [9]:
def fn(x):
    return lambda a:a*x
doubler=fn(2)     #doubler=lambda a:a*x
print(doubler(100))

200

When fn(2) is called, it returns a lambda function where x is bound to 2.
This lambda function is assigned to the variable doubler.
Calling the Lambda Function (doubler(100)):

doubler(100) calls the lambda function with a set to 100.
The lambda function computes 100 * 2 and returns 200.

In [10]:
print(doubler(10))

20

In [11]:
def fn(x):
    doubler=lambda a:a*x  #a=15
    return doubler(15)
fn(2)  #x=2

30

In [1]:
def fn(x):
    return lambda a:a*x
doubler=fn(2)
print(doubler(9))

18

In [3]:
tripler=fn(3)
print(tripler(2))

6

In [14]:
c=fn(4)  #x=4
c(7)  #a=7

28

In [15]:
def f1(a,b):  #outer fn
    x=34  
    #print(x)
    def inner_of_f1():
        pass   #only declared 
        
    print(x+b+a)
f1(4,6)

44

In [3]:
def f1(a,b):  #outer fn
    x=34
    #print(x)
    def inner_of_f1():
        print("chetana")
        return a ,"samiksha"
        return "nikhil"  #inactive
        
    print(x+b+a)
    print(x)
    return inner_of_f1()
    
f1(4,6)

44
34
chetana

(4, 'samiksha')

In [28]:
def f1(a,b):  #outer fn
    x=34
    #print(x)
    def inner_of_f1():
        print("chetana")
        return a ,"samiksha"
        return "nikhil"
        
    return x+b+a
    return x
    return inner_of_f1()
    
f1(4,6)

44

In [2]:
def my_con():
    a=int(input("enter the value"))
    print("hello world")

In [3]:
my_con()

enter the value 6

hello world