### Recurssive function
A recursive function is a function that calls itself in order to solve a problem.

In [1]:
n=5  #5*4*3*2*1   #without function
fact=1
for i in range(1,n+1):  #(1,6)==>i=1,2,3,4,5
    fact=fact*i
print(fact)

120

In [1]:
n=5  #5*4*3*2*1   #without function
fact=1
for i in n:
    fact=fact*i
print(fact)

TypeError: 'int' object is not iterable

In [5]:
n= int(input("Enter no:"))
facto=1
for i in range(1,n+1):
    facto=facto*i
print(facto)

Enter no: 6

720

In [1]:
1*2*3*4*5*6

720

In [1]:
def factorial(n):  #without recurssion but using function
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

In [2]:
factorial(5)

120

In [3]:
factorial(7)

5040

In [6]:
def fact(n):
    factorial=1
    while n>1: #5>1
        factorial=factorial*n
        n=n-1  #5-1==>4,4-1==>3
    return factorial   

#5*4*3*2*1

In [7]:
fact(5)

120

### Factorial with recurssion

In [1]:
#with recurssion
def factorial(n):
    if n==1 or n==0:
        return 1
    else:
        return (n*factorial(n-1))
    
#factorial(4)
#4*factorial(3)
#4*3*factorial(2)
#4*3*2*factorial(1)
#4*3*2*1

In [2]:
factorial(4)

24

In [3]:
factorial(5)

120

In [ ]:
#n*factorial(n-1)
4*factorial(3)
4*3*2*1

In [5]:
factorial(5)

120

# Fibonaci series

In [ ]:
[0 1 1 2 3 5 8 13...]

In [9]:
#without function and recurssion
fibo=[0,1]   #[0,1,1,2]
for i in range(1,9):
    
    next_term=fibo[-1]+fibo[-2]
    fibo.append(next_term)
fibo

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [17]:
#with function but without recurssion
def fib(n):
    fibo=[0,1]
    for i in range(1,n-1):
        next_term=fibo[-1]+fibo[-2]
        fibo.append(next_term)
    return fibo 
fib(5)

[0, 1, 1, 2, 3]

In [19]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [13]:
##without recurssion
#[0,1,1,2,3,5,8,13.....]
def fibonacci(n):
    fib_sequence = [0, 1]  # Initialize the sequence with the first two terms

    if n <= 1:
        return fib_sequence

    for i in range(2, n ):  #(2,5)
        next_term = fib_sequence[i - 1] + fib_sequence[i - 2]
        fib_sequence.append(next_term)

    return fib_sequence

fibonacci(5)

#f[1]+[0]=1+0=1
#f[2]+f[1]=1+1=2
#f[3]+f[2]=2+1=3

[0, 1, 1, 2, 3]

In [22]:
fibonacci(6)

[0, 1, 1, 2, 3, 5]

In [ ]:
next_term = fib_sequence[3 - 1] + fib_sequence[3 - 2]  #[0,1,1]
f[2]+f[1]=1+1

In [8]:
# with recurssion
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)
fibonacci(4)
for i in range(0,4):  # Print the first 5 terms of the sequence
    print(fibonacci(i), end=", ")    
    
    
    
#0,1,
#f(1)+f(0)==1+0=1
#f(2)+f(1)
#f(1)+f(0)+f(1)+1+0+1=2

0, 1, 1, 2, 3,

In [ ]:
 how the function computes fibonacci(4):

fibonacci(4)
Calls fibonacci(3) and fibonacci(2)

fibonacci(3)
Calls fibonacci(2) and fibonacci(1)

fibonacci(2)
Calls fibonacci(1) and fibonacci(0)

fibonacci(1) and fibonacci(0)
Directly return 1 and 0, respectively.

Back to fibonacci(2):
Returns 1 (from fibonacci(1)) + 0 (from fibonacci(0)) = 1

Back to fibonacci(3):
Calls fibonacci(2) again (already computed as 1) and fibonacci(1)

Returns 1 (from fibonacci(2)) + 1 (from fibonacci(1)) = 2

Back to fibonacci(4):
Calls fibonacci(3) (already computed as 2) and fibonacci(2) (already computed as 1)

Returns 2 (from fibonacci(3)) + 1 (from fibonacci(2)) = 3

# lambda function

In [12]:
def add(a,b): #function
    return a+b
add(1,5)

6

In [ ]:
#multplie parameters, arguments bt only one expression

In [2]:
y=lambda a,b:a+b
y(4,5)

9

In [3]:
x=lambda a,b:a*b
x(4,5)

20

In [1]:
double=lambda a:a**2
double(5)

25

In [16]:
triple=lambda a:a*3
triple(5)

15

In [1]:
def fun(n):
    return lambda a:a*n
double=fun(2)   #double=lambda a:a*n

In [2]:
double(8)

16

In [34]:
def even_odd(n):
    if n%2==0:
        return "even"
    else:
        return "odd"

In [36]:
even_odd(10)

'even'

In [1]:
x=lambda n:"even" if n%2==0 else "odd"
x(4)

'even'

### Lambda with filter

In [15]:
l=[56,33,13,23,22,45,56,67,3,2,3,4]
x=list(filter(lambda a:a%2==0,l))  #filter elements from a sequence based on a condition.
print(x)

[56, 22, 56, 2, 4]

In [16]:
def f1(p):
    a1=[]
    for i in p:
        if i<6:
            a1.append(i)
    return a1
f1([56,33,13,23,22,45,56,67,3,1,2,5,6])

[3, 1, 2, 5]

In [18]:
p=[56,33,13,23,22,45,56,67,3,1,2,5,6]
x=list(filter(f1,p))
print(x)

TypeError: 'int' object is not iterable

In [19]:
l=[56,33,13,23,22,45,56,67,3,1,2,5,6]
x=tuple(filter(lambda a:a<6,l))
print(x)

(3, 1, 2, 5)

In [20]:
l=[56,33,13,23,22,45,56,67,3,1,2,5,6]
x=list(filter(lambda a:a<6,l))
print(x)

[3, 1, 2, 5]

In [21]:
l=(56,33,13,23,22,45,56,67,3,1,2,5,6)
x=set(filter(lambda a:a<6,l))
print(x)

{1, 2, 3, 5}

### lambda with map()

In [22]:
#cube
nums=[1,2,3,4,5,6,7,8,9]
cube=list(map(lambda a:a**3,nums))  #apply a function to each item in a sequence and transform the items.
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [23]:
nums=[1,2,3,4,5,6,7,8,9]
cube=list(map(lambda a:str(a*a*a),nums))
print(cube)

['1', '8', '27', '64', '125', '216', '343', '512', '729']

In [24]:
nums=[13,26,38,49,59,60,73,82,91]
reverse=list(map(lambda a:str(a)[::-1],nums))  #'13'==>'31'
print(reverse)

['31', '62', '83', '94', '95', '06', '37', '28', '19']

In [25]:
nums=[1,2,3,4,5,6,7,8,9]
cube=list(map(lambda a:str(a**3),nums))
print(cube)

['1', '8', '27', '64', '125', '216', '343', '512', '729']

### reduce()

In [ ]:
#successively applies a function to the elements of a sequence, reducing the sequence to a single accumulated result

#### Sum of list elements using reduce function

In [30]:
l=[1,2,3,4]
sum(l)

10

In [31]:
from functools import reduce
def summation(a,b):
    return a+b

In [32]:
summation(9,12)

21

In [34]:
l=[1,2,3,4,5]
# using def function
result=reduce(summation,l)
result

15

In [28]:
from functools import reduce
l=[1,2,3,4,5,6,7,8,9,10]
result=reduce(lambda a,b:a+b,l) 
result

55

In [35]:
def mult(l):
    multication=1  #initialize
    for i in l:
        multication=multication*i
    return multication
mult([1,2,3,4,5,6,7] )

5040

In [36]:
def mult(a,b):
    return a*b
mult(6,7)

42

In [37]:
from functools import reduce
val=[1,2,3,4,5,6,7]  #1,2 are a,b
multiplication=reduce(mult,val)
multiplication

5040

In [1]:
from functools import reduce
val=[1,2,3,4,5,6,7]  #1,2 are a,b
add=reduce(lambda x,y:x*y,val)
add

5040

#### Finding max value in the list using Reduce function

In [38]:
min(20,12)

12

In [39]:
max([1,2,9,5 ])

9

In [5]:
def maximum(a,b):
    if a>b:
        return a
    else: 
        return b

In [7]:
val=[122,4,5,7,10,19,20,10]
max1=reduce(maximum,val)
max1

122

In [43]:
max_lambda=reduce(lambda a,b:a if a>b else b,val)
max_lambda

122

### List comprehession

In [ ]:
#syntax: [expression for item in iterable if condition]

In [59]:
n=[]            #without list comprehession
for i in range(0,5):  
    n.append(i)
print(n)

[0, 1, 2, 3, 4]

In [50]:
[i for i in range(0,5)]  #list comprehession

[0, 1, 2, 3, 4]

The expression [i for i in range(0, 5)] is a list comprehension in Python. 

range(0, 5): This generates an iterable sequence of numbers from 0 to 4 (the end value 5 is not included).

[i for i in range(0, 5)]: This creates a list by iterating over each number i in the range 0 to 4 and adding i to the list.

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:Based on a list of fruits, you want a new list, that startswith the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside.
- result always in list

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]  #without list comprehession
newlist = []

for x in fruits:
    if x.startswith("a"):
        newlist.append(x)

print(newlist)

['apple']

In [2]:
newlist1=[x for x in fruits if  x.startswith("a")]  # with list comprehession
newlist1

['apple']

### list of even no.

In [45]:
#without list comprehension
n=int(input("Enter the range:"))
even=[]
for i in range(1,n+1):
    if i%2==0:
        even.append(i)
print(even)

Enter the range: 6

[2, 4, 6]

In [46]:
numbers=[n for n in range(1,101)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [47]:
x=int(input("Enter range:"))
even_no=[x for x in range(1,x+1) if x%2==0 ]  #(1,11)
print(even_no)

Enter range: 10

[2, 4, 6, 8, 10]

In [48]:
x=int(input("Enter range:"))
even_no=[x+1 for x in range(0,x+1)]  #adds 1 to each element (0,11)
print(even_no)

Enter range: 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [49]:
n=[1,2,3,4,5,6,7]
n2=[x*x for x in n]  #list comprehension
n2

[1, 4, 9, 16, 25, 36, 49]

### Convert a string to a uppercase()

In [51]:
string="data science"
string.upper()

'DATA SCIENCE'

In [52]:
string="data science"
l=[]
for i in string:
    upper_chr=i.upper()
    l.append(upper_chr)
print(l)

['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [53]:
string="data science"
upper=[x.upper() for x in string]
upper

['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [54]:
s="data science"
a=[i for i in s]
a

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

### Generating a list of tuples representing pairs of numbers:

In [ ]:
# Output: [(1, 2), (2, 3), (3, 4), (4, 5)]

In [55]:
#without list comprehension
l=[]
for i in range(1,5):
    a= (i,i+1)
    l.append(a)
print(l)

[(1, 2), (2, 3), (3, 4), (4, 5)]

In [56]:
pairs = [(x, x + 1) for x in range(1, 5)]
pairs

[(1, 2), (2, 3), (3, 4), (4, 5)]

### Creating a list of even squares using conditional expressions:

In [57]:
numbers = [1, 2, 3, 4, 5, 6]
even_squares = [x ** 2 for x in numbers if x % 2 == 0]
# Output: [4, 16, 36]

In [58]:
even_squares

[4, 16, 36]

In [1]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
intersection = {x for x in A if x in B}
intersection

{3, 4}